*{
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Slabo 27px', 'Tahoma', serif;
  display: flex;
  justify-content: center;
}
body{
  font-size: 1.1rem;
}
h1{
  font-family: 'Raleway', 'Verdana', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
}
h2{
  margin-bottom: 10px;
}
h3{
  margin-top: 6px;
}
a{
  color: rgb(59, 96, 97);
}
a:hover{
  text-decoration: none;
}
.wrapper{
  display: flex;
  max-width: 1024px;
  padding: 50px;
}
header{
  font-size: 1.2rem;
}
section{
  padding: 40px 0;
}
.profile_description{
  display: flex;
  margin-top: 30px;
}
.profile_description p{
  padding: 0 10px;
  line-height: 1.8rem;
  
}
.profile img{
  height: auto;
  transition: all 0.3s;
}
.profile img:hover{
  filter: grayscale(50%);
}
.skill_list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.skill_list li{
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgb(119, 77, 103);
  color: #ffffff;
  transition: all 0.4s;
}
.skill_list li:hover{
  border: 1px solid rgb(119, 77, 103);
  background-color: transparent;
  color: #000000;
  cursor: default;
}
.experience_list,
.experience_list ul{
  margin-left: 20px;
}
.experience_list ul{
  padding-top: 4px;
  list-style-type: square;
}
.contact_info{
  min-width: 20%;
  margin-top: 50px;
  padding-left: 20px;
}
.contact_info dt{
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
